/*
 * Copyright (c) 2022 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/backlight.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    chosen {
        zmk,matrix_transform = &ortho48_transform;
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp GRAVE  &kp Q     &kp W     &kp E     &kp R      &kp T      &kp Y     &kp U      &kp I      &kp O     &kp P     &kp BSPC
&kp TAB    &kp A     &kp S     &kp D     &kp F      &kp G      &kp H     &kp J      &kp K      &kp L     &kp SEMI  &kp SQT
&kp LSHFT  &kp Z     &kp X     &kp C     &kp V      &kp B      &kp N     &kp M      &kp COMMA  &kp DOT   &kp FSLH  &kp RET
&kp LCTRL  &kp LALT  &kp LGUI  &kp BSPC  &kp ENTER  &kp SPACE  &kp BSPC  &kp ENTER  &kp BSPC   &kp RGUI  &kp RALT  &bootloader
            >;
        };
    };
};
