/*
 * Copyright (c) 2022 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&sk {
    quick-release;
};

/ {
    chosen {
        zmk,matrix_transform = &ortho48_transform;
    };

    behaviors {
        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47>;
        };

        hshft: hshft {
            compatible = "zmk,behavior-hold-tap";
            label = "HSHFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <135>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47>;
        };

        hmolyr: hmolyr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMOLYR";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47>;
        };

        hrmlwin: hrmlwin {
            compatible = "zmk,behavior-hold-tap";
            label = "HRMLWIN";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <325>;
            flavor = "tap-unless-interrupted";
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47>;
        };

        com_per: com_per {
            compatible = "zmk,behavior-mod-morph";
            label = "COM_PER";
            bindings = <&kp COMMA>, <&kp PERIOD>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT|MOD_LSFT)>;
        };

        new_behavior: new_behavior {
            compatible = "zmk,behavior-hold-tap";
            label = "NEW_BEHAVIOR";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <175>;
            flavor = "balanced";
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47>;
        };
    };

    combos {
        compatible = "zmk,combos";

        bspc {
            bindings = <&kp BACKSPACE>;
            key-positions = <21 22>;
            layers = <0>;
            timeout-ms = <30>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <34 33>;
            layers = <0>;
            timeout-ms = <30>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <13 14>;
            layers = <0>;
            timeout-ms = <30>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <25 26>;
            layers = <0>;
            timeout-ms = <30>;
        };

        lshift {
            bindings = <&sk LEFT_SHIFT>;
            key-positions = <27 26>;
            layers = <0>;
            timeout-ms = <30>;
        };

        rshift {
            bindings = <&sk RIGHT_SHIFT>;
            key-positions = <32 33>;
            layers = <0>;
            timeout-ms = <30>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&trans    &trans        &trans           &trans     &trans                    &trans  &trans  &trans       &trans  &trans            &trans        &bootloader
&kp LWIN  &hrm LCTRL L  &hrm LEFT_ALT G  &kp D      &trans                    &trans  &trans  &trans       &kp H   &hrm RIGHT_ALT U  &hrm RCTRL O  &kp RWIN
&kp I     &kp S         &hmolyr 2 R      &kp T      &trans                    &trans  &trans  &trans       &kp N   &hmolyr 2 E       &kp A         &kp C
&trans    &trans        &trans           &sk LSHFT  &hrm LS(LA(LCTRL)) SPACE  &trans  &trans  &key_repeat  &sl 1   &trans            &trans        &trans
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans
&trans  &kp V   &kp W   &kp M   &trans  &trans  &trans  &trans  &kp F   &kp SQT   &kp Z   &none
&kp Q   &kp J   &kp P   &kp K   &trans  &trans  &trans  &trans  &kp B   &com_per  &kp X   &kp Y
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &none   &trans    &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans     &trans      &trans       &trans     &trans  &trans  &trans  &trans  &trans          &trans        &trans        &trans
&trans     &kp EXCL    &kp AT_SIGN  &kp POUND  &trans  &trans  &trans  &trans  &kp AMPERSAND   &kp ASTERISK  &kp QUESTION  &none
&kp GRAVE  &kp DOLLAR  &kp PERCENT  &kp CARET  &trans  &trans  &trans  &trans  &kp UNDERSCORE  &kp BSLH      &kp PIPE      &kp TILDE
&trans     &trans      &trans       &trans     &trans  &trans  &trans  &trans  &trans          &trans        &trans        &trans
            >;
        };
    };
};
