/*
 * Copyright (c) 2022 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    chosen {
        zmk,matrix_transform = &ortho48_transform;
    };

    behaviors {
        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp GRAVE  &kp Q        &kp W            &kp E         &kp R         &kp T      &kp Y     &kp U      &kp I      &kp O     &kp P     &kp BSPC
&kp TAB    &hrm LWIN A  &hrm LEFT_ALT S  &hrm LCTRL D  &hrm LSHFT F  &kp G      &kp H     &kp J      &kp K      &kp L     &kp SEMI  &kp SQT
&kp LSHFT  &kp Z        &kp X            &kp C         &kp V         &kp B      &kp N     &kp M      &kp COMMA  &kp DOT   &kp FSLH  &kp RET
&mo 1      &kp LALT     &kp LGUI         &kp BSPC      &kp ENTER     &kp SPACE  &kp BSPC  &kp ENTER  &kp BSPC   &kp RGUI  &kp RALT  &bootloader
            >;

            label = "base";
        };

        layer_1 {
            bindings = <
&bootloader  &kp N1  &kp N1  &kp N1  &kp N1  &kp N1  &kp N1  &kp N1  &kp N1  &kp N1  &kp N1  &rgb_ug RGB_TOG
&kp N1       &kp N1  &kp N1  &kp N1  &kp N1  &kp N1  &kp N1  &kp N1  &kp N1  &kp N1  &kp N1  &bl BL_TOG
&kp N1       &kp N1  &kp N1  &kp N1  &kp N1  &kp N1  &kp N1  &kp N1  &kp N1  &kp N1  &kp N1  &kp N1
&trans       &kp T   &kp T   &kp T   &kp T   &kp T   &kp T   &kp T   &kp T   &kp T   &kp T   &kp T
            >;

            label = "raise";
        };
    };
};
